<!DOCTYPE html>
<html>
<head>
    <title></title>
    {% include "user/email/style_email_css.html" %}
</head>
<body land="EN-US">
<div class='WordSection1'>
    <h1>Hello, {{ user.screen_name }}! </h1>
    <p>Your email was changed.</p>
    <p>Email verification url: <a href="{{ site_address }}{% url 'verification_email' user.email_verification_code %}">click me</a></p>
</div>
</body>
</html>
