<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>{% block head_title %}{% if head_title %}{{ head_title }} - {% endif %}AuthUser{% endblock %}</title>
  </head>
  <body>
      {% if messages %}
          <div class="container">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags|default:'info' }}" role="alert">{{ message }}</div>
            {% endfor %}
          </div>
      {% endif %}
      <div class="container">
          <nav class="navbar navbar-light bg-light justify-content-end:">
              <a class="navbar-brand">AuthUser</a>
              <ul class="nav justify-content-end">
                  <form class="form-inline">
                      {% if request.user.is_authenticated %}
                          <li class="nav-item"><a class="nav-link" href="{% url 'user_profile' %}">{{ request.user.screen_name }}</a></li>
                          <li class="nav-item">
                            <a href="{% url 'logout' %}" class="nav-link btn btn-outline-success my-2 my-sm-0">Logout</a>
                          </li>
                      {% else %}
                          <li class="nav-item">
                            <a href="{% url 'login' %}" class="nav-link btn btn-outline-success my-2 my-sm-0">Login</a>
                          </li>
                      {% endif %}
                  </form>
              </ul>
          </nav>
      </div>
      <div class="container">
          {% block content %}{% endblock %}
      </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>