{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p xmlns="http://www.w3.org/1999/html">{{ form.errors }}</p>
{% endif %}

{% if user.is_authenticated %}
    <p>You is authenticated as {{ user.screen_name }}.</p>
    <p>Please <a href="{% url 'logout' %}">logout</a> to see registration page.</p>
{% else %}
    <form method="post" action="{% url 'registration' %}">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Send">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    <p><a href="{% url 'login' %}">Login</a></p>
{% endif %}
{% endblock %}