{% extends 'base.html' %}

{% block head_title %}User {{ object.screen_name }} - {{ block.super }}{% endblock %}

{% block content %}
    <h1>{{ object.screen_name }}</h1>
    <p><a href="{% url 'user_edit' %}">Update</a></p>
{% endblock %}