{% extends 'base.html' %}

{% block content %}
    <form action="{% url 'user_edit' %}" method="post">
        {% csrf_token %}
        {{ form.as_ul }}
        <button type="submit">Save</button>
    </form>
    <p>
        {% if not user.email_verified %}
            <a href="{% url 'send_verification_email' %}">Send verification email</a>
        {% endif %}
    </p>
    <p>
        <a href="{% url 'password_change' %}">Change password</a>
    </p>
{% endblock %}