{% extends 'base.html' %}

{% block content %}
        {% for user in object_list %}
            <li><a href="{{ user.get_absolute_url }}">{{ user.screen_name }}</a></li>
        {% empty %}
            <li>Sorry, no users in this list.</li>
        {% endfor %}
    </ul>
{% endblock %}